 <h3>New Bookmark</h3>

<!-- referring to another view's code
#render the form partial.

#the bookmark will be the local variable 'bookmark'
in the form partial-->
<%=render 'form', bookmark: @bookmark %>
